{% extends 'base.html' %}
{% load static %}

{% block content %}
    
{% load mathfilters %}
<div class="container" >
    <main class="pt-5">
{% for item in cart %}
{% with product=item.product  %}
<div class="row border g-3">
    <div class="col-md-3 col-lg-2 order-md-first bg-light">
     <img src="{{product.image.url}}" class="img-fluid mx-auto d-block" alt="...">
    
        </div> 
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
          <h1 class="mb-0 h4">{{product.title}}</h1>
          
          <strong>{{product.brand}}</strong>
          <hr>
          <br>
          <p class="h6">{{product.description}}</p>
          <div class="border">
            <div class="col border-bottom">
    
              <div class="row p-3">
                <div class="col-6">Price</div>
                <div class="col-6 text-end"><span class="h4 fw-bold">{{product.price|mul:item.qty}}</span></div>
              </div> 
               <div class="col">
              <div class="row p-3">
                <div class="col-12">
                  <label for="select">Qty</label>
                  <select id="select{{product.id}}">
                    <option selected>{{item.qty}}</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select>
                </div>
                <div class="col-12 text-end">

                  <button type="button"  data-index="{{product.id}}" class="btn btn-primary delete-button">Delete</button>
                </div>
                <div class="col-12 text-end">
                  <button type="button"  data-index="{{product.id}}" class="btn btn-primary update-button">update</button>
      
                  </div>
              </div>
            </div>
            </div>
            <a href="{% url 'checkout' %}" class="btn btn-primary my-2"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Proceed to checkout </a>
          </div>
        </div>
          
        </div> 
{% endwith %}
{% endfor %}

        </main>
        <div class="col-12 text-end" id="total">
          total:{{cart.get_total}}

        </div>
</div>
<script>
  $(document).on('click','.delete-button',function(e){
    e.preventDefault();
    $.ajax({
      type:"POST",
      url:'{% url 'cart-delete' %}',
      data: {
        product_id: $(this).data('index'),
       
        csrfmiddlewaretoken:"{{csrf_token}}",
        action:'post'
      },
      success: function(json){
        console.log(json)
        location.reload()
      document.getElementById("cart-qty").textContent = json.qty
      document.getElementById("total").textContent = json.total
      },
      error: function(xhr,errmsg,err){
  
      }
    });
  })
  $(document).on('click','.update-button',function(e){
    e.preventDefault();
    var theproductid = $(this).data('index');
    $.ajax({
      type:"POST",
      url:'{% url 'cart-update' %}',
      data: {
        product_id : $(this).data('index'),
        product_quantity : $('#select' + theproductid + ' option:selected').text(),
        csrfmiddlewaretoken:"{{csrf_token}}",
        action:'post'
      },
      success: function(json){
        console.log(json)
      location.reload()
      document.getElementById("cart-qty").textContent = json.qty
      document.getElementById("total").textContent = json.total
      },
      error: function(xhr,errmsg,err){
  
      }
    });
  })
  </script>
{% endblock %}